---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-assignment-in-if-condition,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-else-after-return,
  -readability-function-size,
  -readability-function-cognitive-complexity
WarningsAsErrors: >
  *
---
