name: Coverity Scan

on:
  push:
    paths: &paths
      - '**.c'
      - '**.h'
      - '**/meson.build'
    branches:
      - master
  pull_request:
    paths: *paths

jobs:
  coverity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install meson==1.9.1 ninja
      - name: Configure Project
        run: meson setup builddir/
        env:
          CC: gcc
      - uses: vapier/coverity-scan-action@v1
        with:
          email: ${{ secrets.COVERITY_EMAIL }}
          token: ${{ secrets.COVERITY_TOKEN }}
          command: meson compile -C builddir/

